.form {
    text-align: center;
}


/* .car-commute-div,
.bus-commute-div,
.subway-commute-div,
.intercityrail-commute-div,
.air-commute-div {
    background-color: rgba(51, 170, 51, .2);
} */

h3,
h4 {
    color: #e6ede4;
}